- semantic_form_for @calory_line do |f|
  %p
    - f.inputs do
      = f.input :product, :include_blank => false
      = f.input :day, :include_blank => false, :hint => false, :collection => @user_days
      = f.input :net_weight
      = link_to_function t('calory_lines.specify_energy') , "Element.toggle('calory_line_energy_input')"
      = f.input :energy, :wrapper_html => { :style => "display:none;" }
  %p
    - f.buttons do
      = f.commit_button

= observe_field :calory_line_product_id, :url => { :controller=> :products, :action => "get_energy" }, :with => 'product_id'

