= semantic_form_for @user do |f|
  = f.inputs do
    = f.input :username
    = f.input :email
    = f.input :born, :start_year => 1930
    = f.input :height
    = f.input :female, :as => :radio, :collection => [[t(".male"), false], [t(".female"), true]]
    = f.input :password, :as => :password
    = f.input :password_confirmation, :as => :password
  = f.buttons :class => "buttons" do
    = f.commit_button

