- title "Days"

%table
  %tr
    %th Enter date
    %th Weight
  - for day in @days
    %tr
      %td= h day.enter_date
      %td= h day.weight
      %td= link_to 'Show', day
      %td= link_to 'Edit', edit_day_path(day)
      %td= link_to 'Destroy', day, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Day", new_day_path
