- content_for :head do
  = javascript_include_tag 'jquery.fancybox-1.3.4.pack', "products.new.js"
  = stylesheet_link_tag 'jquery.fancybox-1.3.4'

= semantic_form_for @product do |f|
  %p
    = f.inputs do
      = f.input :category, :include_blank => false, :collection => @categories
      = f.input :name
      = f.input :water
      = f.input :protein
      = f.input :fat
      = f.input :carbohydrate
      = f.input :energy
      %a{ :href=>"http://www.utkonos.ru/search.php", :id => "utkonos_search", "data-action" => 'get_utkonos_link',  "data-input" => "product_name" }
        = image_tag("utkonos.gif", :alt => "Search Утконос", :height => 50)
  %p
    = f.buttons
%br

