- semantic_form_for @product do |f|
  %p
    - f.inputs do
      = f.input :category, :include_blank => false, :collection => @categories
      = f.input :name
      = f.input :water
      = f.input :protein
      = f.input :fat
      = f.input :carbohydrate
      = f.input :energy
      = link_to_remote image_tag("utkonos.gif", :alt => "Search Утконос", :height => 50), |
        {:url => {:action => 'get_utkonos_link'}, |
        :with => "'name=' + $('product_name').value"}, :href => "http://www.utkonos.ru/search.php" |

  %p
    = f.buttons

%br

-#.search
-#  Поиск

