%tr
  -# %td= h category.name
  %td= h product.name
  %td= h product.water
  %td= h product.protein
  %td= h product.fat
  %td= h product.carbohydrate
  %td= h product.energy
  %td= link_to 'Show', product
  %td= link_to 'Edit', edit_product_path(product)
  %td= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete
  %td= link_to 'I ate this', new_calory_line_path(:product_id => product, :day_id =>Date.today)

