- title "Products"

%table
  %tr
    %th Category
    %th Name
    %th Water
    %th Protein
    %th Fat
    %th Carbohydrate
    %th Energy
  - for category in @categories  
    - @products.select {|p| p.category_id == category.id}.each do |product|
      %tr
        %td= h category.name
        %td= h product.name
        %td= h product.water
        %td= h product.protein
        %td= h product.fat
        %td= h product.carbohydrate
        %td= h product.energy
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Product", new_product_path
