- title t('.title')

= form_tag(products_path, :method => 'get', :id => "products_search") do
  %p
    = text_field_tag :search, params[:search]
    - if params[:day_id] && !params[:day_id].empty?
      = hidden_field_tag :day_id, (params[:day_id])
    = submit_tag t(:search), :name => nil
#products_list
  = render "products"

%p= link_to t('.new_product'), new_product_path

