- title "Products"

- form_tag(products_path, :method => 'get') do
  %p
    = text_field_tag :search, (params[:search]||"").force_encoding('utf-8')
    = submit_tag "Search", :name => nil

- for category in @categories
  %h4= Unichars.new(category.name).capitalize
  = product_table(@products.select {|p| p.category_id == category.id})

-#.pagination
-#  = will_paginate(@products, :container => false)
-#  &nbsp;&nbsp;
-#  -#= page_entries_info(@users)

%p= link_to "New Product", new_product_path

