- title t('.title')

%p
  %strong Category:
  = @product.category.name.mb_chars.capitalize
%p
  %strong Name:
  = @product.name
%p
  %strong Water:
  = @product.water
%p
  %strong Protein:
  = @product.protein
%p
  %strong Fat:
  = @product.fat
%p
  %strong Carbohydrate:
  = @product.carbohydrate
%p
  %strong Energy:
  = @product.energy


-#%p
  -#- form_tag(products_path, :method => 'get') do
    -#%p
      -#= text_field_tag :weight
      -#- if params[:day_id]
        -#= hidden_field_tag :day_id, params[:day_id] || Date.today
      -#-# else
        -#-#= select_tag
      -#= hidden_field_tag :calory_line_product_id, @product
      -#= submit_tag t(:record_food), :name => nil

%br
%p
  = form_tag(new_day_calory_line_path(:day_id => params[:day_id] || Date.today), :method=> 'get') do
    = submit_tag t('.record_food'), :name => nil
    = text_field_tag :net_weight
    = hidden_field_tag :product_id, @product.to_param
%br
%p
  = link_to t(:edit), edit_product_path(@product)
  |
  = link_to t(:delete), @product, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to t(:view_all), products_path

