!!!
%html{html_attrs}

  %head
    %title
      = h("#{ApplicationController::TITLE} ") +  h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = javascript_include_tag :defaults,  :cache => "all"
    = javascript_include_tag 'scriptaculous', 'lightview'

    = stylesheet_link_tag 'clearfix', 'reset', 'application' #, 'formtastic'
    = stylesheet_link_tag 'lightview'

    = yield(:head)
    - if yield :style
      %style{:type => "text/css"}
        = yield :style

  %body
    #app-container
      %ul#nav= render_navigation
      .clear

      #content-container
        - if flash.present?
          .app-flash
            - flash.each do |type, message|
              %div{ :class => "flash-message #{type}" }
                %p= message
          :javascript
            Event.observe(window, "load", function() { Effect.Shrink.delay(3, $$(".app-flash").first()); });

        - if show_title?
          %h1=h yield(:title)

        = yield

      .clear
      .app-footer
        %p
          = "Copyright &copy; #{Date.today.year} #{ApplicationController::TITLE}"

